<IfModule mod_rewrite.c>
RewriteEngine On

# Angular routing - redirigir todas las rutas a index.html
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
</IfModule>
